<section class="hero">
  <div class="hero--overlay"></div>
  <div class="wrapper hero--inner">
    <h2>Make your best engineering team.</h2>
    <p>An amazing progression of processes, tools, and techniques is making software engineering teams better and more efficient than ever. Time and Tide brings a decade of experience working with startups (from pre-MVP products to serving millions of users) to help your team find and overcome the impediments to delivering their best work.</p>
    <h3>Specialties</h3>
    <ul>
      <li>DevOps (planning, build out, automation, security)</li>
      <li>Quality (process, automated testing)</li>
      <li>Architecture and APIs (design, implementation, integration)</li>
      <li>Software engineering process (definition, improvement, automation)</li>
      <li>Hiring (process, recruiting, interviewing assistance)</li>
    </ul>
    <a class="btn--primary" href="mailto:info@timeandtide.software">Contact</a>
  </div>
</section>
