<section class="hero">
  <div class="hero--overlay"></div>
  <div class="wrapper hero--inner">
    <h2>High Importance Projects With Organizations That Are Struggling To Grow Their Teams</h2>
    <p>My approach is to acquire a deep understanding of codebases, architectures, processes, and shared engineering values in order to work closely to deliver a product that matches a teams unique style and vision.</p>
    <a class="btn--primary" href="mailto:bradley178@gmail.com">Contact</a>
  </div>
</section>
