// Dependencies:
// color.scss

/* ==== Helper Classes  ==== */
* { box-sizing: border-box; }
*:before, *:after { box-sizing: inherit; }
.clearfix:after { content: ''; display: block; clear: both; overflow: auto; }
.float-left { float: left; }
.float-right { float: right; }
.content-center { display: block; margin: 0 auto; }
.houdini { display: none; }
.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }

body {
  min-height: 100vh;
  background-color: #fff;
}

/* ==== Wrapper ==== */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/* ==== Clearfix ==== */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* ==== Icons ==== */
.icon > svg {
  display: inline-table;
  vertical-align: middle; }
  .icon > svg path {
    fill: $primary--dark; }

/* ==== Site header ==== */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 20px 22px 20px;
  z-index: 1;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.2); }
  .site-header svg {
    height: 30px; 
    margin-top: 5px; }

.site-nav {
  float: right; }
  ul {
  margin: 0; }
  ul li {
    display: inline-table;
    list-style-type: none; }
  .site-nav .page-link {
    color: $secondary;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon > svg path {
          fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/* ==== Site footer ==== */
.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  padding: 2.0625rem 0;
  font-size: 1rem; // 16px
  text-align: center;
  color: rgba(255,255,255,0.9); }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

/* ==== Hero content ==== */
.hero--overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1); }

.hero {
  background-image: url(../img/hero-1.jpg);
  background-position: center;
  background-size: cover;
  background-color: #fff;
  height: 100vh; }

.hero--inner {
  position: relative;
  height: 100%;
  text-align: center;
  padding-top: 10rem; 
  z-index: 2; }

.hero--inner h2, .hero--inner p {
  color: #fff; }

.hero--inner p {
  font-size: 1.2rem; }

/* ==== Page content ==== */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/* ==== Images ==== */
img {
  max-width: 100%;
  vertical-align: middle; }

  /* ==== Links ==== */
  a {
    color: $secondary;
    text-decoration: none; }
    a:visited {
      color: #1756a9; }
    a:hover {
      color: #fff; }

/* ==== Posts ==== */
.post-head pageer {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }
