<<<<<<< HEAD
/* ====
Google Fonts Installed
Bitter: regular 400, regular 400 italic, black 900
Muli: regular 400, bold 700
==== */
=======
/* ==== Set `margin-bottom` to maintain vertical rhythm ==== */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { 
	margin-bottom: 1rem; /*16px*/
}
>>>>>>> 463add173c5adf845536e2abb716f34e06ca7938

/* ==== Default ==== */
body {
  font: 400 16px/1.5 "Muli", Helvetica, Arial, sans-serif;
<<<<<<< HEAD
  color: $black--light;
=======
  color: $primary;
>>>>>>> 463add173c5adf845536e2abb716f34e06ca7938
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

<<<<<<< HEAD
/* ==== Set `margin-bottom` to maintain vertical rhythm ==== */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { 
	line-height: 1.3;
  margin-bottom: 1rem; /*16px*/
}

/* ==== Headings ==== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
}

// 36px
h1 {
  font-size: 2.25rem;
}

// 32px
h2 {
  font-size: 2.25rem;
}

// 28
h3 {
  font-size: 1.75rem;
}

// 24px
h4 {
  font-size: 1.5rem;
}

// 20px
h5 {
  font-size: 1.25rem;
}

// 16px
h6 {
  font-size: 1rem;
}
=======
h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
 }
>>>>>>> 463add173c5adf845536e2abb716f34e06ca7938

/* ==== Lists ==== */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/* ==== Blockquotes ==== */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

